:root {
  --color-blue: 120, 180, 255;
  --color-shadow-blue: 0, 0, 0;
  --color-foreground: 20, 25, 31;
  --color-foreground-alt: 18, 23, 29;
  --color-background: 14, 18, 22;
  --color-foreground-blue: 26, 33, 45;
  --color-foreground-grey: 15, 22, 28;
  --color-foreground-grey-dark: 6, 12, 13;
}

body {
  color: white;
  font-family: arial;
  background-color: rgb(var(--color-foreground));
}
form {
  background: rgb(var(--color-foreground-grey));
}
.title {
  background-color: rgb(var(--color-foreground-grey-dark));
}
.show-notebooks {
  min-height: 200px;
}
#fetch-notebook-id {
}

footer {
  height: 500px;
  width: 100%;
  text-align: center;
  background-color: rgb(var(--color-background));
}